[Unit]
Description=LMNR Sppofing Detection

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
ExecStart=/home/saas/lmnr/lmnr
WorkingDirectory=/home/saas/lmnr
Restart=always
RestartSec=300
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=%n